**Bodovi ostvareni na testu**

| Student | Bodovi |
| :------ | :------: |
| Čiča Danilo | 11 |
| Ćehić Neira | 13 |
| Kosijer Radislav | 11 |
| Radaković Jelena | 9 |
| Mirosav Ranko | 10 |

**Napomena:** Maksimalano se može ostvariti 25% ocjene na testu.
