**Bodovi ostvareni na testu**

| Student | Bodovi |
| :------ | :------: |
| Čiča Danilo | |
| Ćehić Neira | |
| Kosijer Radislav | |
| Radaković Jelena | |
| Mirosav Ranko | |

**Napomena:** Maksimalano se može ostvariti 25% ocjene na testu.
